.slides{
    height: 100%;
    padding: 125px 0 0 50%
    
}
.slide1{
    background: url(../../img/Image1.jpg) center no-repeat;
    background-size: 100% 100%;
}
.slide2{
    background: url(../../img/Image2.jpg) center no-repeat;
    background-size: 100% 100%;
}
.slide3{
    background: url(../../img/Image3.jpg) center no-repeat;
    background-size: 100% 100%;
}

.fade{
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from{
        opacity: 0.7;
    }
    to{
        opacity: 1;
    }
}
/*
slides header, text, buttons
*/
.slides_header{
    color: #4d337d;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.slides_descript{
    padding: 0 40px;
    margin: 20px auto;
    color: white;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.slides_btn{
    min-width: 160px;
    min-height: 50px;
    color: white;
    font-family: 'Releway', serif;
    font-weight: bold;
    font-size:16px;
    text-decoration: none;
    background: #4d337d;
    border: 1px solid transparent;
    padding: 13px 25px;
}