#Features{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin: 70px -15px 0 -15px;
}

.Features__lookbook{
    height: 400px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transform: scale(1, 1);
}
.Features__lookbook__text{
    flex-direction: column;
}

.Features__shopNow{
    height: 270px;
    width: 270px;
    background: url(../img/Features__shopNow.jpg) no-repeat center;
    background-size: 100% 100%;
    transform: scale(1, 1) translate(37%, 65%);
    z-index: 2;
    transition: all 0.5s ease;
}
.Features__shopNow:hover{
    transform: scale(1.1, 1.1) translate(37%, 65%);
    z-index: 5;
    transition: all 0.5s ease;
}

.Features__trend{
    height: 470px;
    background: url(../img/Features__trend.jpg) no-repeat center;
    background-size: 100% 100%;
    transform: scale(1.65, 1);
    transition: all 0.5s ease;
}
.Features__trend:hover{
    transform: scale(1.75, 1.1);
    z-index: 5;
    transition: all 0.5s ease;
}

.Features__featured{
    height: 470px;
    margin:60px 0 0 0;
    background: url(../img/Image1.jpg) no-repeat center;
    background-size: 100% 100%;
    transform: scale(2.1, 1) translate(-32%, 0%);
    z-index: 1;
    transition: all 0.5s ease;
}
.Features__featured:hover{
    transform: scale(2.2, 1.1) translate(-32%, 0%);
    z-index: 5;
    transition: all 0.5s ease;
}

.col{
    width: 25%;
}

